{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         
              <div class="col-xs-12 masonry-item">
                  
                  {{ if eq .Params.displaydetails true }}
                  <div class="box-masonry" style="padding:15px;">
                      
                          <h6> {{ .Date.Format "Mon, 02 Jan 2006 15:04:05 CST" }} </h6>
                            <div class="box-masonry-description">
                                <p> <strong>Status:</strong>  {{ .Params.status }}</p>  
                                    
                                <p><strong>Strategy:</strong> {{ .Params.strategy }}</p>
                                <p class="split">
                                <span class="left"><strong>Underlying:</strong> {{ .Params.underlying }}</span> 
                                <span class="right"><strong>Price:</strong> {{printf "$%.2f" .Params.underlyingprice }} </span>
                                </p>

                                <p class="split">
                                <span class="left">
                                    <strong>Trade Price:</strong> {{ printf "$%.2f" .Params.price }}</span> 
                                <span class="right">
                                    <strong>Net:</strong> N/A
                                  </span></p>

                            </div>

                    </div>
                    {{ end }}

                    {{ .Content }}
                  
                </div>



         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
