<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">Jared Vacanti</a></h1>

      <p class="sidebar-p">I'm a financial data scientist, originally from Nebraska, currently in Chicago, IL.</p>

      <p class="sidebar-p">I do most of my work in Python and C/C++. I try to post some of my trades, my research, and some of the projects
      I'm working on here on my site.</p>

    
    <ul class="sidebar-menu">
        <li><a href="/about/">About</a></li>
        <li><a href="https://code.jaredvacanti.com/explore/projects">Code</a></li>
        <li><a href="/trades/">Recent Trades</a></li>
        <li><a href="/contact/">Get in Touch</a></li>
    </ul>

    {{ partial "social_buttons_in_sidebar.html" . }}


  </div>
</div>
 